body{
  background-color:lightyellow;
  margin-top:130px;
}
.pokemon-list{
  margin-top: 60px;
}
.modal-header,.modal-footer{
  background-color: lightyellow;
}
h5{
  font-size: 30px;
  font-weight: bold;
  color:red;
  text-transform: capitalize;
}
p{
  font-weight: bold;
  color:green;
}

.pokemon-list_item{
  background-color:lightyellow;
  text-transform: capitalize;
  font-weight:bold;
}
.pokemon-list_item:hover{
  color:red;
}
